
main{
    font-family: Helvetica;
    line-height: 0.2;
    color: white;
}

.bloco#bloco-1{
    background-color: rgb(228, 148, 1);
    border: 5px solid rgb(241, 178, 69);
    margin: 10px;
    padding-bottom: 15px;
    padding-left: 10px;
    width: 25%;
          
}

.bloco#bloco-2{
    background-color: rgb(3, 153, 3);
    border: 5px solid rgb(4, 196, 17);
    margin: 10px;
    padding-bottom: 15px;
    padding-left: 10px;
    width: 25%;
   
}

.bloco#bloco-3{
    background-color: darkgreen;
    margin: 10px;
    padding-bottom: 15px;
    padding-left: 10px;
    width: 25%;
    border-style: dashed;
    border-color: rgb(15, 235, 15);
    border-width: 5px;
            
}

.bloco#bloco-4{
    background-color: rgb(202, 18, 18);
    margin: 10px;
    padding-bottom: 15px;
    padding-left: 10px;
    width: 25%;
    border-style: dashed;
    border-color: rgb(241, 70, 70);
    border-width: 5px;
}
